<h1>Add a Lesson </h1>

<% if @lesson.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons/new" method="post">
  <label for="lesson_number">Lesson Number</label>  
  <input id="lesson_number" name="lesson[number]" type="integer" value="<%= @lesson.number %>">
 
  <label for="lesson_name">Name</label>  
  <input id="lesson_name" name="lesson[name]" type="string" value="<%= @lesson.name %>">

  <label for="lesson_chapter_id">Chapter</label>
  <select name="lesson[chapter_id]"> 
    <% @chapters.each do |chapter| %>
      <option value="<%= chapter.id %>"><%= chapter.name %></option>
    <% end %>
  </select>

  <label for="lesson_section_id">Section</label>
  <select name="lesson[section_id]"> 
     <option value="<% nil %>">None</option>
    <% @chapters.each do |chapter| %>
      <% chapter.sections.each do |section| %>
          <option value="<%= section.id %>">Chapter <%= chapter.number %>: <%= chapter.name %>&nbsp&nbsp Section <%=section.number %>: <%= section.name %></option>
       <% end %>
    <% end %>
  </select>

  </br><label for="lesson_text">Text:</label></br> 
  <input id="lesson_text" name="lesson[text]" type="text" value="<%= @lesson.text %>"></br>

  <button>Create Lesson</button>

</form>
<h4> Note: You can choose to have a lesson that is not part of a section if you like.</h4>
<h4> Want to add this lesson to a new Chapter or a new Section instead?</h4>
<a href="/chapters/new">Create a new Chapter first</a></br>
<a href="/sections/new">Add a Section first</a>

 </br></br></br><h4><a href="/chapters">Back to Home Page</a></h4>


