<h1>Chapter <%= @chapter.number %>: <%= @chapter.name %></h1>
 
 <% if (@chapter.sections != nil) %>
  
  <% @chapter.sections.each do |section| %>
     <h3>&nbsp&nbsp  <a href="/sections/<%= section.id %>">Section <%= section.number %></a> &nbsp<%= section.name%></h3>
      
      <% if (section.lessons != nil) %>
         <% section.lessons.each do |lesson| %>
           <h4> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/lessons/<%= lesson.id %>/">Lesson <%= lesson.number %>:</a> &nbsp<%= lesson.name%></h4>
         <% end %>
       <% end %>
    <% end %>
 <% end %> 
</br>
 <h3><a href="/sections/new">Add a Section</a></h3>

 <h3><a href="/lessons/new">Create a Lesson</a></h3>


 <h4><a href="/chapters/<%= @chapter.id %>"
         data-confirm="You sure? This will also delete all sections and lessons saved to this chapter."
         data-method="delete"
         rel="nofollow">Delete this Chapter</a></h4>

 </br></br></br><h4><a href="/chapters">Back to Home Page</a></h4>

